.my_list-group-item {
  cursor: pointer;
  transition: all 0.2s ease-out;
  /* color: rgb(255, 127, 206) !important; */
  display: flex !important;
  justify-content: space-between;
  color: #00467a !important;
  font-family: Onest !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20.4px !important;
  text-align: left !important;
  text-underline-position: from-font !important;
  text-decoration-skip-ink: none !important;
}
.my_list-group-item:hover {
  background: var(--mast_blue_1);
  color: whitesmoke !important;
}
#listContainer {
  padding: 0 49px;
  height: 100%;
}
.list_product_app {
  height: 70%;
  overflow-y: auto;
}
.list_bar {
  padding: 0 49px 19px 49px;
  display: flex;
  gap: 2%;
  /* width: 100%; */
  justify-content: space-between;
  flex-grow: 1;
}
.list_search {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  border: 1px solid #00467a;
  padding: 15px 0 14px 26px;
  height: 44px;
  font-size: 13px;
  border-radius: 15px;
  /* font-family: Onest; */
  font-size: 12px;
  font-weight: 500;
  line-height: 15.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.list-group-item {
  border: none !important;
  border-bottom: 1px dashed #00467a !important;
}
