ul {
  padding: 0 !important;
  margin: 0 !important;
}
.posi_rel {
  position: relative;
}
.hidden {
  display: none !important;
}
.background {
  background: var(--my-lg-blk);
  height: 100vh;
  /* border-radius: 40px 40px 0 0 !important; */
}
.body_container {
  height: calc(100vh - 115px);
  background: white;
  border-radius: 40px 40px 0 0;
}
.my_container {
  height: 100%;
  display: flex;
}
.container {
  min-height: 100vh;
  height: 100vh;
  /* border: 1px solid var(--my-lg-blk); */
  padding: 0 !important;
  /* background: var(--my-lg-blk); */
  background: #d9d9d9;
  overflow: hidden;
  /* max-width: none !important; */
  /* border-radius: 30px 30px 0 0; */
}
.col_30 {
  width: 30%;
  padding: 25px 20px !important;
}
.col_70 {
  width: 70%;
  padding: 25px 20px !important;
}
.grey_info {
  color: var(--bs-gray);
}
.archived_item {
  font-size: 13px;
  color: var(--bs-secondary);
}
.viewer_modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.viewer_modal {
  width: 80vw;
  height: 90vh;
  border-radius: 12px;
}
.img_pdf_btn_viewer {
  cursor: pointer;
  opacity: 0.6;
}
.img_pdf_btn_remove {
  cursor: pointer;
  background: url("../img/icons/remove.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 32px;
  transition: all 0.3s ease-in;
}
.img_pdf_btn_remove:hover {
  background: url("../img/icons/remove_red.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 32px;
  transition: all 0.3s ease-in;
}
