.setting_container {
  padding: 1rem;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
  height: calc(100vh - 115px);
  /* display: flex; */
}
.preview_setting {
  height: 70vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  font-size: 15px;
  overflow-y: auto;
}
.setting_user {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.setting_item {
  position: relative;
  cursor: pointer;
  padding-top: 15px !important;
  transition: all 0.4s ease;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.setting_item:hover {
  color: var(--mast_blue_1);
}
.setting_inpt {
  margin-top: 8px;
  padding: 2px 5px;
  font-size: 14px;
  width: 60%;
  border-radius: 4px;
  border: 1px solid var(--bs-gray);
}
.setting_btn_container {
  margin: 15px 0;
  display: flex;
  margin: 15px 0;
  gap: 25px;
  justify-content: flex-end;
}
.edit_icon {
  width: 24px;
}
.lang_edit_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  border: 1px solid var(--mast_blue_1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.lang_edit_conatainer_title {
  width: 80%;
  font-size: 12px;
  display: flex;
  color: rgba(0, 0, 0, 0.61);
  height: 15px;
}
.lang_edit_conatainer_title_abbr {
  width: 70px;
  margin-left: 2px;
}
.lang_edit_conatainer_input {
  border: none;
  border-bottom: 1px solid var(--mast_blue_1);
  height: 18px;
  margin-left: 2px;
  background: #2195f32e;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 14px;
}
.lang_edit_conatainer_save_btn {
  width: 22px;
}
.lang_edit_container_text {
  width: 80%;
}
.setting_item_pdf_name {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.setting_list_container {
  display: flex;
}
.tds_list_container {
  height: 80%;
}
.log_out_text {
  color: var(--my-grey-text);
}
.log_out_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btn_container_edit_abbr {
  display: flex;
  gap: 15px;
}
.header_tds_setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tds_setting_arhive_btn_deactive {
  cursor: pointer;
  border: 1px solid var(--mast_blue_1);
  padding: 2px 7px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  color: var(--my-grey-text);
  background: white;
}
.tds_setting_arhive_btn_deactive:hover {
  background: var(--mast_blue_1);
  color: white;
  box-shadow: 0 0 9px 1px var(--mast_blue_1);
}
.tds_setting_arhive_btn_active {
  cursor: pointer;
  border: 1px solid var(--mast_blue_1);
  padding: 2px 7px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  background: var(--mast_blue_1);
  color: white;
  box-shadow: 0 0 9px 1px var(--mast_blue_1);
}
.tds_setting_arhive_btn_active:hover {
  background: white;
  color: var(--mast_blue_1);
  box-shadow: none;
}
